.login-page {
  padding-top: 50px; }
  .login-page .logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold; }
  .login-page .login-btn {
    padding: 0;
    width: 300px; }
  .login-page .signin-control {
    min-width: 350px; }

.contracts .addContract {
  padding: 15px; }

.contracts .body {
  padding: 30px; }
  .contracts .body .chip {
    display: block;
    float: left;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #e0e0e0;
    color: #424242;
    cursor: default;
    border-radius: 16px;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative; }

.addContracts {
  width: 700px; }
  .addContracts .addContractForm {
    padding: 30px; }
