.login-page {
  padding-top: 50px; }
  .login-page .logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold; }
  .login-page .login-btn {
    padding: 0;
    width: 300px; }
  .login-page .signin-control {
    min-width: 350px; }

.contracts .addContract {
  padding: 15px; }

.contracts .body {
  padding: 30px; }

.addContracts {
  width: 700px; }
  .addContracts .addContractForm {
    padding: 30px; }
