<md-content class="addContracts">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>
                <span>New Contract</span>
            </h2>
        </div>
    </md-toolbar>

    <form class="addContractForm" ng-submit="addContract()">
        <div layout="column">
            <md-input-container flex>
                <label>Contract Name</label>
                <input ng-model="contract.name" ng-required>
            </md-input-container>

            <md-input-container flex>
                <label>Supplier Name</label>
                <md-select 
                    ng-model="contract.supplier">
                    <md-option ng-repeat="(accountId, desc) in accounts | with: 'Exporter'"
                        ng-value="accountId">
                        {{desc.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label>Value</label>
                <input  ng-model="contract.value" ng-required>
            </md-input-container>

            <md-input-container flex>
                <label>Bank</label>
                <md-select 
                    ng-model="contract.bank">
                    <md-option ng-repeat="(accountId, desc) in accounts | with: 'ImporterBank'"
                        ng-value="accountId">
                        {{desc.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            
            <md-button type="submit" class="md-primary md-raised">
                Submit
            </md-button>

        </div>
    </form>
</md-content>