<md-content class="contracts">
    <md-toolbar ng-class="{'md-primary': user.role==='ImporterBank' || user.role==='Exporter',
            'md-accent': user.role==='Customs',
            'md-warn': user.role==='Trucker',
            'md-background': user.role==='PortAuthority'}">
        <div class="md-toolbar-tools">
            <h2>
                <span>Contracts: Browse, Edit &amp; Monitor</span>
            </h2>

            <span flex></span>
            <span style="margin-right: 30px;">
                <div layout="column">
                    <div>{{user.name}}</div>
                    <div style="font-size: 15px;"><a href="#!/login">Sign Out</a></div>
                </div>
            </span>
        </div>
    </md-toolbar>

    <md-content class="body">
        <div layout="row" layout-align="end" class="addContract">
            <md-button class="md-raised md-primary"
                ng-click="addContractDialog($event)"
                ng-disabled="user.role!=='ImporterBank'">
                Add a contract
            </md-button>
        </div>

        <div layout="row" layout-align="center center" 
                ng-if="user.role==='ImporterBank'">
            <h2>Balance: USD {{3000000 - totalContractVal}}</h2>
        </div>

        <div layout="row" layout-align="center center" 
                ng-if="user.role==='Exporter'">
            <h2>Balance: USD {{100000 + totalContractVal}}</h2>
        </div>

        <div layout="row">
            <h2>My Contracts</h2>
            <!--<h2 ng-if="user.role!=='ImporterBank'">My Approvals</h2>            -->
        </div>
        <div>
            <md-list flex>
                <md-list-item class="md-3-line"  ng-repeat="contract in contracts">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{contract.name}}</h3>
                        <h4>Supplier: {{contract.supplier}}</h4>
                        <p>
                            Value: {{contract.value}}
                            <div layout="row" ng-if="user.role==='ImporterBank'">
                                <div class="chip" ng-class="{approved: contract.truckerApproved}">Trucker</div>
                                <div class="chip" ng-class="{approved: contract.portAuthorityApproved}">PortAuthority</div>
                                <div class="chip" ng-class="{approved: contract.customsApproved}">Customs</div>
                            </div>
                            <!--<md-chips ng-model="approvals" name="fruitName" readonly="true"
                                    md-removable="false" md-max-chips="5"
                                    ng-if="user.role==='ImporterBank'"
                                    >
                            <md-chip-template>
                                <strong>{{$chip}}</strong>
                            </md-chip-template>
                        </md-chips>-->
                        </p>
                    </div>
                    <md-button class="md-raised md-primary" 
                        ng-if="user.role!=='ImporterBank' && user.role!=='Exporter'"
                        ng-click="saveContract(contract)"
                        ng-disabled="contract[roleAuthorityApproval[user.role]]">
                        Approve</md-button>
                     <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</md-content>