.contracts {
    .addContract {
        padding: 15px;
    }

    .body {
        padding: 30px;
    }
}

.addContracts {
    width: 700px;

    .addContractForm {
        padding: 30px;        
    }
}