.login-page {

  padding-top: 50px;  
  .logo {
      padding: 15px 0;
      font-size: 25px;
      color: #aaaaaa;
      font-weight: bold;
  }

  .login-btn {
      padding: 0;
      width: 300px;
  }

  .signin-control {
      min-width: 350px;
  }
}